body {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.wareCard {
  max-width: 250px;
  min-width: 150px;
  width: 100%;
  max-height: 600px;
  min-height: 450px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 25px;
  background: linear-gradient(#df4ac8db, #2484ff87);
  gap: 0.5rem;
  line-height: 16px;
}
.wareCard p {
  flex-grow: 1;
}
.crossed_out {
  font-size: 0.9rem;
  color: gray;
  text-decoration: line-through;
}
.priceWithDiscount {
  font-size: 1.2rem;
  color: red;
}

.priceWare {
  text-align: end;
  padding-right: 1rem;
  line-height: 1.2rem;
}
.wareCard img {
  width: 100%;
  max-height: 220px;
}
